<!DOCTYPE html>
<html lang="ko">
<head>
	 <meta charset="UTF-8" />
	 <meta http-equiv="X-UA-Compatible" content="IE=Edge">
	 <title><%=title %></title>
	 <meta name="Description" content="<%=title%>" />
	 <meta name="Keywords" content="<%=title%>" />
	 <meta name="Author" content="권동준" />
	 <link rel="stylesheet" href="/css/layout.css" />
	 <!--[if lt IE 9]>
		<script src="/js/html5.js"></script>
	 <![endif]-->
</head> 
<body>
	<div class="wrapper">
		<section id="container" class="content">
			<div style="text-align: center;margin-top:1px; border:1px solid #000000; border-radius:5px;font-size: 14px;">
				<div style="margin-top: 5px; margin-bottom: 5px;">
					<%=err%>
					<br/>
					<a href="/">메인 페이지 돌아가기</a>
				</div>
			</div>
		</section>
	</div>
</body>
</html>