<% layout('layout') -%>	
현재 개발중에 있습니다. 조만 곧 완성 시키겠습니다.
<div ng-controller="index" style="display : none;">
<form ng-submit="go()">
<input type='text' name='username' placeholder='아이디' ng-model='credentials.username' required /> <br> <br>
<input type='password' name='password' placeholder='비밀번호' ng-model='credentials.password' required />
<button type="submit" value="modify">aaaaaaaaaaaaaaaaaaaa수정</button> 
</form>
</div>