<% layout('layout') -%>	
<div ng-controller="index">
<form ng-submit="go()">
<input type='text' name='username' placeholder='아이디' ng-model='credentials.username' required /> <br> <br>
<input type='password' name='password' placeholder='비밀번호' ng-model='credentials.password' required />
<button type="submit" value="modify">aaaaaaaaaaaaaaaaaaaa수정</button> 
</form>
</div>