<!DOCTYPE html>
<html lang="ko">
<head>
	 <meta charset="UTF-8" />
	 <title><%=title %></title>
	 <meta name="Description" content="이름 혹은 내용" />
	 <meta name="Keywords" content="이름 혹은 내용" />
	 <meta name="Author" content="작성자" />
	 <!-- <link rel="stylesheet" href="../../public/css/master.css" /> -->
	 <script>
	 </script>
</head> 
<body>
<%-body %>
</body>
</html>