@charset "UTF-8";
@import url("master.css");
@font-face{
	font-family: han;
	src:url(../font/han.eot);
	src:local(※), url(../font/han.woff) format('woff')
}

/* wrapper */
.wrapper {width:800px; position:relative; margin:0 auto -67px auto; min-width:800px; min-height:100%; height:auto !important; height:100%;}

/* accessibility */
.accessibility {position:absolute; top:0px; left:0px;}
a.skip{display:inline-block; width:1px; height:1px; overflow:hidden;}
a.skip:hover,
a.skip:focus,
a.skip:active{width:165px; height:auto;}

/* header */
.header {width:100%; height:40px; position:relative; padding-top:35px; border-bottom: 1px solid #A6A6A6;}
.header .desc {position:absolute; top:55px; right:3px; font-family:han; font-size: 15px;}

/* container */
.container {width:100%; margin-top:20px; padding-bottom:143px;}

/* left_wrap */
.left_wrap {float:left; width:140px;}
.left_wrap .pro {margin-top:15px; text-align: center; border:1px solid #000000;}
.left_wrap .pro .img {margin-top: 5px;}
/*.left_wrap .left_menu_on {margin-top:-3px; background-image: url("../images/left_menu_on.jpg");background-position: top; color:#FF0000;}*/
.left_wrap .left_menu_on {background: url("../images/on.jpg") no-repeat; background-position: right center;color:#FF0000;}
.left_wrap .left_menu_on a:VISITED {color:#FF0000;}
.left_wrap .left_menu_on a:LINK {color:#FF0000;}
.left_wrap .left_menu_on a:HOVER {color:#FF0000;}
.left_wrap li {text-align: right; padding-right: 38px; font-size: 20px; font-family:han;}
.left_wrap ul {margin-top:10px; background: url("../images/left_menu.jpg");}

/* content */
.content {float:right; width:655px; margin-top:15px; margin-left: 5px;}
